<div class="lg-scr mg-top px-1.5 xl:px-0">
  <div class="mb-2 flex flex-col gap-2">
    <h1
      class="h-fit capitalize font-normal underline underline-offset-4 decoration-1 text-base sm:text-xl md:text-2xl lg:text-4xl"
    >
      Schedule an appointment
    </h1>
    <h4 class="h-fit text-sm sm:text-base md:text-lg">
      Select a service that you wish to book a schedule for
    </h4>
  </div>

  <div class="flex flex-col gap-2">
    @for (service of services$ | async; track service) {
      <button
        (click)="selected(service.name)"
        class="px-1.5 py-3 border rounded text-left bg-[var(--list-of-items-background)] hover:bg-[var(--list-of-items-background-hover)]"
      >
        <h3
          class="capitalize underline underline-offset-4 font-normal pb-1 text-xs sm:text-sm md:text-base lg:text-lg"
        >
          {{ service.name }}
        </h3>
        <p class="text-xs sm:text-sm whitespace-nowrap">
          Price varies but starts at: ${{ service.price }}
          <span class="h-2 w-2 mx-2 rounded-full inline-block bg-white"></span>
          Duration: {{ service.duration }}
        </p>
      </button>
    }
  </div>
</div>
