<div class="w-full p-2">
  <div
    class="relative w-full flex mb-2 gap-1.5 items-center underline underline-offset-4 text-gray-700 dark:text-gray-400"
  >
    <h1 class="text-base lg:text-xl font-medium">Schedule</h1>
    <a [routerLink]="EMPLOYEE_SCHEDULE_CREATE_ROUTE">
      <span class="sr-only">create schedule</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
    </a>

    <button type="button" (click)="toggleCalendar = !toggleCalendar">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
        />
      </svg>
    </button>

    <div
      class="w-full max-w-lg rounded-lg absolute top-10 bottom-0 left-0 z-40"
      [style]="{ display: toggleCalendar ? 'block' : 'none' }"
    >
      @if (shifts$ | async; as shift) {
        <p-calendar
          [style]="{ width: '100%' }"
          [(ngModel)]="date"
          [inline]="true"
          (onSelect)="onDateSelected($event)"
          (onMonthChange)="onMonth($event)"
          (onYearChange)="onYear($event)"
          [showWeek]="false"
        >
          <ng-template pTemplate="date" let-date>
            <span
              [ngClass]="{
                'font-medium text-black': contains(
                  scheduleTableToDate(shift),
                  date.day,
                  date.month
                ),
                'line-through': !contains(
                  scheduleTableToDate(shift),
                  date.day,
                  date.month
                )
              }"
            >
              {{ date.day }}
            </span>
          </ng-template>
        </p-calendar>
      } @else {
        <p-calendar
          [style]="{ width: '100%' }"
          [(ngModel)]="date"
          [inline]="true"
          (onSelect)="onDateSelected($event)"
          (onMonthChange)="onMonth($event)"
          (onYearChange)="onYear($event)"
          [showWeek]="false"
        />
      }
    </div>
  </div>

  <div class="w-full">
    <div
      class="my-3 text-medium font-light text-gray-700 dark:text-gray-400 tracking-tight leading-none"
    >
      <h3>
        Dates and Times are in
        <strong class="text-black dark:text-white">{{ TIMEZONE }}</strong>
        timezone
      </h3>
    </div>
    <p-table [value]="scheduleTable()" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr
          class="text-xs text-gray-900 bg-gray-50 dark:bg-gray-700 dark:text-white"
        >
          <th>Visible</th>
          <th>Date</th>
          <th>From (time)</th>
          <th>To (time)</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-schedule>
        <tr>
          <td
            class="uppercase"
            [ngClass]="{
              'text-green-600': schedule.isVisible === true,
              'text-red-600': schedule.isVisible === false
            }"
          >
            {{ schedule.isVisible }}
          </td>
          <td>
            <button
              (click)="onSelectedSchedule(schedule.shiftId, schedule.startDate)"
              type="button"
              class="underline underline-offset-2"
            >
              {{
                schedule.startDate.toLocaleDateString('en-US', {
                  weekday: 'long',
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric'
                })
              }}
            </button>
          </td>
          <td>{{ schedule.startTime }}</td>
          <td>{{ schedule.endTime }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

@if (toggleUpdateScheduleDialog && selectedShift(); as obj) {
  <app-update-schedule
    [form]="form"
    [updateShiftVisibilityState]="updateShiftVisibility$ | async"
    [updateShiftDateTimeState]="updateShiftDateTime$ | async"
    [shiftId]="obj.shiftId"
    [localDate]="obj.localDate"
    [toggleShiftVisibilityInStoreFrontSignal]="false"
    [(toggleUpdateScheduleDialogSignal)]="toggleUpdateScheduleDialog"
    (toggleShiftVisibilityInStoreFrontEmitter)="
      updateShiftVisibilityInStoreFrontEmitter($event, obj.localDate)
    "
    (updateAppointmentTimeEmitter)="updateShiftDateTime($event, obj.localDate)"
  />
}
