<div class="p-2 flex flex-col gap-2 text-gray-700 dark:text-gray-400">
  <div class="relative">
    <button
      (click)="toggle = !toggle"
      type="button"
      class="flex gap-1.5 items-center text-base font-medium lg:text-xl font-base underline underline-offset-4"
    >
      Create Schedule
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
    </button>
    <div
      [ngStyle]="{ display: toggle ? 'block' : 'none' }"
      class="flex gap-1.5 px-1 rounded-md shadow-lg bg-white absolute top-7 left-0 right-0"
    >
      <div class="w-full py-2 relative">
        <div class="flex gap-2">
          <!-- calendar toggle -->
          <button type="button" (click)="toggleCalendar = !toggleCalendar">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
              />
            </svg>
          </button>
          <!-- staff dropdown -->
          <button
            (click)="dropdownToggle = !dropdownToggle"
            id="dropdownUsersButton"
            data-dropdown-toggle="dropdownUsers"
            data-dropdown-placement="bottom"
            class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex justify-between items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="button"
          >
            {{ staffEmail.length === 0 ? 'Select a staff' : staffEmail }}
            <svg
              class="w-2.5 h-2.5 ms-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>
        </div>
        @if (toggleCalendar) {
          <div class="absolute top-10 bottom-0 left-0 z-40">
            <mat-card class="w-80">
              <mat-calendar
                [minDate]="minimumDateOnCalendar"
                [(selected)]="selectedDate"
                (selectedChange)="onCalendarDateSelected($event)"
              />
            </mat-card>
          </div>
        }
        <div
          id="dropdownUsers"
          class="w-full mt-2 z-10 hidden bg-white rounded-lg shadow dark:bg-gray-700"
          [ngStyle]="{ display: dropdownToggle ? 'block' : 'none' }"
        >
          <ul
            class="w-full overflow-y-auto text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownUsersButton"
          >
            @for (staff of (staffs$ | async)?.data; track staff.employee_id) {
              <li class="w-full">
                <button
                  (click)="onSelectedStaffEmail(staff.email)"
                  type="button"
                  class="w-full flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >
                  <img
                    class="w-6 h-6 me-2 rounded-full"
                    [src]="staff.image_key"
                    alt="staff image"
                  />
                  {{ staff.display_name }}
                </button>
              </li>
            } @empty {
              No staffs currently
            }
          </ul>
        </div>
      </div>

      <app-time-picker
        [form]="form"
        [selected]="selectedDate"
        (submitEmitter)="onDateTimePicker($event)"
      />
    </div>
  </div>

  <div class="max-h-96 max-w-lg flex flex-col gap-3 overflow-y-auto">
    @for (entry of entries$ | async; track entry[0]; let i = $index) {
      <div
        class="w-full px-2 py-1 grid grid-cols-3 gap-2 inline-flex items-center justify-center text-sm font-medium text-center border border-[var(--border-outline)] rounded-md shadow-lg"
      >
        <div class="h-full flex items-center">
          {{ entry[1].start | date: 'dd MMMM yyyy' }}
        </div>
        <div class="h-full flex gap-1.5 justify-center items-center">
          <p>{{ toHrMins(entry[1].start) }}</p>
          -
          <p>{{ toHrMins(entry[1].end) }}</p>
        </div>
        <div class="h-full my-auto">
          <button
            (click)="onDeleteSchedule(entry[0])"
            type="button"
            class="inline-flex items-center p-1.5 text-sm font-medium text-center text-red-500 hover:text-red-700"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                clip-rule="evenodd"
              />
            </svg>
            <span class="sr-only">Delete</span>
          </button>
        </div>
      </div>
    } @empty {
      No schedule created
    }
  </div>

  @if (numberOfEntries > 0) {
    <div class="w-full py-2">
      @if (onSubmit$ | async) {
        <div role="status">
          <svg
            aria-hidden="true"
            class="inline w-6 h-6 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill"
            />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      } @else {
        <button
          type="submit"
          (click)="onSubmit()"
          class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-500 hover:bg-blue-600"
        >
          submit
        </button>
      }
    </div>
  }
</div>
