<div
  class="h-screen w-full p-3 flex flex-col gap-2 overflow-x-hidden overflow-y-auto text-gray-700 dark:text-gray-400"
>
  <!-- top -->
  <div class="relative w-full mb-5 flex gap-5">
    <div
      class="block h-fit max-w-sm p-6 bg-gray-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <h1 class="font-normal text-gray-700 dark:text-gray-400">
        No. of appointments days for the month
      </h1>
      <p
        class="mb-2 w-full text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ numberOfAppointmentsForMonth$ | async }}
      </p>
    </div>

    <button
      (click)="toggleMobileCalendar = !toggleMobileCalendar"
      type="button"
      class="rounded-lg text-gray-500 hover:text-gray-600"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="flex-shrink-0 w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
        />
      </svg>
    </button>

    <div
      [style]="{ display: toggleMobileCalendar ? 'block' : 'none' }"
      class="w-full max-w-lg rounded-lg absolute top-20 bottom-0 left-0 right-20 z-40"
    >
      @if (daysToHighlight$ | async; as highlight) {
        <p-calendar
          [style]="{ width: '100%' }"
          [(ngModel)]="date"
          [inline]="true"
          (onSelect)="onCalendarDateClick($event)"
          (onMonthChange)="onMonth($event)"
          (onYearChange)="onYear($event)"
          [showWeek]="false"
        >
          <ng-template pTemplate="date" let-date>
            <span
              [ngClass]="{
                'font-medium text-black': contains(
                  highlight,
                  date.day,
                  date.month
                ),
                'line-through': !contains(highlight, date.day, date.month)
              }"
            >
              {{ date.day }}
            </span>
          </ng-template>
        </p-calendar>
      } @else {
        <p-calendar
          class="max-w-full"
          [(ngModel)]="date"
          [inline]="true"
          (onSelect)="onCalendarDateClick($event)"
          (onMonthChange)="onMonth($event)"
          (onYearChange)="onYear($event)"
          [showWeek]="false"
        />
      }
    </div>
  </div>

  <div class="flex-1">
    <h1
      class="mb-4 text-lg lg:text-2xl font-medium tracking-tight leading-none"
    >
      Appointment(s) - {{ selectedDate.toDateString() }}
    </h1>

    <div class="w-full">
      <div
        class="mb-3 text-base font-light text-gray-700 dark:text-gray-400 tracking-tight leading-none"
      >
        <h3>
          Dates and Times are in
          <strong class="text-black dark:text-white">{{ TIMEZONE }}</strong>
          timezone
        </h3>
      </div>

      @if (_appointments$ | async; as appointments) {
        <p-table [value]="appointments" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr
              class="text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-700 dark:text-white"
            >
              <th>image</th>
              <th>status</th>
              <th>client</th>
              <th>service</th>
              <th>scheduled for</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-deconstruct>
            <tr>
              <td>
                @if (
                  deconstruct.image_key && deconstruct.image_key?.length > 0
                ) {
                  <button
                    type="button"
                    class="text-blue-600"
                    (click)="selectedAppointmentImage(deconstruct.image_key)"
                  >
                    view
                  </button>
                  <p-galleria
                    [value]="appointmentImagesSignal()"
                    [(visible)]="toggleImageGallery"
                    [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '80%' }"
                    [numVisible]="9"
                    [circular]="true"
                    [fullScreen]="true"
                    [showItemNavigators]="true"
                  >
                    <ng-template pTemplate="item" let-item>
                      <img
                        [src]="item"
                        style="width: 100%; display: block"
                        alt="job-location-image"
                      />
                    </ng-template>
                  </p-galleria>
                } @else {
                  <p class="text-neutral-600">no image available</p>
                }
              </td>
              <td
                [ngClass]="{
                  'text-green-600': deconstruct.status === 'CONFIRMED',
                  'text-red-600': deconstruct.status === 'CANCELLED',
                  'text-yellow-400': deconstruct.status === 'PENDING',
                  'text-neutral-600': deconstruct.status === 'EXPIRED'
                }"
              >
                {{ deconstruct.status }}
              </td>
              <td>
                <button
                  (click)="onAppointmentNameClick(deconstruct)"
                  type="button"
                  class="underline underline-offset-2"
                >
                  {{ deconstruct.client }}
                </button>
              </td>
              <td>{{ deconstruct.service }}</td>
              <td>{{ deconstruct.timeslot }}</td>
            </tr>
          </ng-template>
        </p-table>
      } @else {
        <p-table [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Status</th>
              <th>Client</th>
              <th>Service</th>
              <th>scheduled for</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body">
            <tr>
              <td><p-skeleton /></td>
              <td><p-skeleton /></td>
              <td><p-skeleton /></td>
              <td><p-skeleton /></td>
              <td><p-skeleton /></td>
            </tr>
          </ng-template>
        </p-table>
      }
    </div>
  </div>
</div>

@if (toggleAboutAppointment && (appointmentDetails$ | async); as details) {
  <div class="fixed top-0 right-0 bottom-0 left-0 z-40 bg-[var(--half-black)]">
    <div class="lg-scr p-2 h-full overflow-y-auto flex flex-col">
      <div class="ml-auto mt-1 w-fit">
        <button
          (click)="toggleAboutAppointment = !toggleAboutAppointment"
          type="button"
          class="p-1 rounded-lg bg-gray-300 hover:bg-gray-600"
          aria-controls="close-calendar-button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 text-white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <div class="w-full flex-1">
        <app-about-appointment
          [form]="form"
          [appointmentUpdateStatus]="
            (updateAppointmentStatus$ | async) || ApiStatus.LOADED
          "
          [detail]="details"
          (updateAppointmentStatusEmitter)="updateAppointmentStatus($event)"
        />
      </div>
    </div>
  </div>
}
