<div
  class="h-screen w-full p-3 flex flex-col gap-2 overflow-x-hidden overflow-y-auto"
>
  <!-- top -->
  <div class="relative w-full mb-5 flex gap-5">
    <div
      class="block h-fit max-w-sm p-6 bg-gray-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <h1 class="font-normal text-gray-700 dark:text-gray-400">
        No. of appointments days for the month
      </h1>
      <p
        class="mb-2 w-full text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ numberOfAppointmentsForMonth$ | async }}
      </p>
    </div>

    <button
      (click)="toggleMobileCalendar = !toggleMobileCalendar"
      type="button"
      class="rounded-lg text-gray-500 hover:text-gray-900"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="flex-shrink-0 w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
        />
      </svg>
    </button>

    <div
      [style]="{ display: toggleMobileCalendar ? 'block' : 'none' }"
      class="w-full h-fit lg:max-w-[50%] xl:max-w-[35%] rounded-lg bg-white absolute top-20 bottom-0 left-0 z-40"
    >
      <app-calendar
        [toHighlight]="(daysToHighlight$ | async) || []"
        (onDateSelectedEmitter)="onCalendarDateClick($event)"
        (previousNextEmitter)="onPrevNextCalendarClick($event)"
      />
    </div>
  </div>

  <div class="flex-1">
    <h1
      class="mb-4 text-lg lg:text-2xl font-medium tracking-tight leading-none"
    >
      Appointment(s) - {{ selected.toDateString() }}
    </h1>

    <div class="">
      <app-table
        [tHead]="thead"
        [tBody]="(appointments$ | async) || []"
        [loading]="(updateAppointment$ | async) || false"
        (rowClickEmitter)="onAppointmentNameClick($event)"
        (actionClickEmitter)="updateAppointmentStatus($event)"
      />
    </div>
  </div>
</div>

@if (toggleAboutAppointment && (appointmentDetails$ | async); as details) {
  <div class="fixed top-0 right-0 bottom-0 left-0 z-40 bg-[var(--half-black)]">
    <div class="lg-scr p-2 flex flex-col">
      <div class="ml-auto mt-1 w-fit">
        <button
          (click)="toggleAboutAppointment = !toggleAboutAppointment"
          type="button"
          class="p-1 rounded-lg bg-gray-300 hover:bg-gray-600"
          aria-controls="close-calendar-button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 text-white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <div class="w-full h-fit flex-1 bg-white mx-auto">
        <app-about-appointment [detail]="details" />
      </div>
    </div>
  </div>
}
