<div class="p-2 grid grid-cols1 md:grid-cols-2 gap-8 md:gap-2">
  <div class="shadow-lg">
    <app-calendar (onDateSelectedEmitter)="onDateSelected($event)" />
  </div>

  <div class="flex flex-col gap-2">
    <div class="relative">
      <button
        (click)="toggle = !toggle"
        type="button"
        class="flex gap-1.5 text-base lg:text-xl font-base text-gray-900"
      >
        Add Schedule
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          />
        </svg>
      </button>
      <div
        [ngStyle]="{ display: toggle ? 'block' : 'none' }"
        class="w-fit flex gap-1.5 rounded-md shadow-lg bg-white absolute top-7 left-0"
      >
        <app-time-picker
          [form]="form"
          [selected]="selected"
          (submitEmitter)="onDateTimePicker($event)"
        />
      </div>
    </div>

    <div class="max-h-96 max-w-lg flex flex-col gap-3 overflow-y-auto">
      @for (obj of dates(); track obj; let i = $index) {
        <div
          class="w-full px-2 py-1 grid grid-cols-3 gap-2 inline-flex items-center justify-center text-sm font-medium text-center border border-[var(--border-outline)] rounded-md shadow-lg"
        >
          <div class="h-full flex items-center">
            {{ obj.start | date: 'dd MMMM yyyy' }}
          </div>
          <div class="h-full flex gap-1.5 justify-center items-center">
            <p>{{ toHrMins(obj.start) }}</p>
            -
            <p>{{ toHrMins(obj.end) }}</p>
          </div>
          <div class="h-full my-auto">
            <button
              (click)="onDeleteSchedule(i)"
              type="button"
              class="inline-flex items-center p-1.5 text-sm font-medium text-center text-red-500 hover:text-red-700"
            >
              <svg
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Delete</span>
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
