<div class="p-2 grid grid-cols1 md:grid-cols-2 gap-8 md:gap-2">
  <div class="shadow-lg">
    <app-calendar (onDateSelectedEmitter)="onDateSelected($event)" />
  </div>

  <div class="">
    <div class="relative">
      <button
        (click)="toggle = !toggle"
        type="button"
        class="flex gap-1.5 text-base lg:text-xl font-base text-gray-900"
      >
        Add Schedule
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          />
        </svg>
      </button>
      <div
        [ngStyle]="{ display: toggle ? 'block' : 'none' }"
        class="w-fit flex gap-1.5 rounded-md shadow-lg absolute top-7 left-0"
      >
        <app-time-picker
          [form]="form"
          [selected]="selected"
          (submitEmitter)="onSchedule($event)"
        />
      </div>
    </div>
  </div>
</div>
