/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --active: #dddddd;
  --white: #fff;
  --calendar-background: #ccc;
  --border-outline: #ccc;
  --app-theme: #a3c1ad;
  --app-theme-hover: #75a284;
  --list-of-items-background: hsl(210, 36%, 96%);
  --list-of-items-background-hover: hsl(210, 36%, 90%);
  --nav-mobile: #f6f6f6;
}

.lg-scr {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mg-top {
  margin-top: calc(1vh + 70px);
}

.mat-calendar-body-selected {
  background-color: var(--app-theme-hover) !important;
}

.highlight-date.mat-calendar-body-cell::before {
  /*border-bottom: 1px solid #ccc;*/
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
